<div class="flyntComponent flyntComponent--wysiwyg {{ options.theme }}" is="flynt-block-wysiwyg">
  <div class="container boxed">
    <div class="content">
      {{ contentHtml|e('wp_kses_post') }}
    </div>
  </div>
</div>
