<div class="flyntComponent" is="flynt-list-search-results">
  <div class="container">
    {% include 'Partials/_header.twig' %}
    {% include 'Partials/_results.twig' %}
    {# {% if pagination %}
      {% include 'Partials/_pagination.twig' %}
    {% endif %} #}
  </div>
</div>
