.mce-content-body {
  background-color: #fff;
}

#tinymce {
  h1,
  .h1 {
    font-family: 'Cy', sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 55px;
    margin: 0;
  }

  h2,
  .h2 {
    font-family: 'Cy', sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 45px;
    margin: 0;
  }

  h3,
  .h3 {
    font-family: 'Cy', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 45px;
    margin: 0;
  }

  p,
  .p
  .paragraph,
  .small,
  table,
  span {
    font-family: 'SofiaProRegular', sans-serif;
    font-size: 25px;
    line-height: 27px;
    margin: 0;
    margin-block-end: 1.2rem;
    margin-block-start: 0;
  }
}
