/* Custom styling for coming soon page */

.page-coming-soon,
.page-typography {
  .mainHeader,
  .mainFooter {
    display: none;
  }

  body {
    background-color: $red;
    overflow: hidden;
    padding: 0;

    @media (max-width: $breakpoint-mobile) {
      overflow: auto;
    }
  }

  .flyntComponent {
    margin-bottom: 0 !important;
    // padding: 0;
  }
}

.page-typography {
  .logo {
    display: none;
  }
}
