/* Custom styling for subscription confirmation */

.page-subscription-confirmation {
  header,
  .mainHeader .wrapper,
  .mainHeader .container,
  .mainFooter,
  .accessibility {
    display: none;
  }

  body {
    font-family: 'Rhetorik Serif Regular', serif;
    padding: 0;
  }

  .flyntComponent {
    margin-bottom: 0;
    padding: 0;

    &-listSocial {
      bottom: 0;
      padding: 10px;
      position: fixed;
      right: 0;
      width: 100vw;
      z-index: 1004;

      @media (max-width: $breakpoint-mobile-horizontal) {
        padding: 10px 15px;
      }

      .container {
        justify-content: center;
      }
    }
  }
}
