/* Custom styling for page home */

.page-articles {
  .mainContent {
    .list {
      // border-bottom: 1px solid $black;
      // border-top: 1px solid $black;
      display: flex;
      flex-flow: row wrap;
      height: auto;
      list-style: none;
      margin: 0;
      min-height: calc(100vh - 140px);
      padding: 0;
      width: 100%;

      &:last-child {
        border-bottom: 0;
      }

      &-item {
        border-top: 1px solid $black;
        display: flex;
        flex-flow: row wrap;
        padding: $spacing-small 0;
        width: 100%;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          border-bottom: 1px solid $black;
        }
  

        &-link {
          text-decoration: none;
          width: 100%;

          &:hover {
            text-decoration: underline;
          }
        }

        .featured {
          &Info {
            column-gap: $spacing-small;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;

            @media (max-width: $breakpoint-mobile-horizontal) {
              display: grid;
              grid-auto-rows: auto;
              grid-template-columns: 1fr;
            }
  
            .title {
              margin: 0;
              text-decoration: none;
              text-transform: uppercase;
            }
          }
  
          &Image {
            display: none;
            width: 100%;
          }
        }
      }
    }
  }

  .list-item:nth-child(1) {
    border-top: 0;

    .featuredInfo {
      // display: flex;
      // flex-flow: row wrap;
      margin-bottom: $spacing-small;
    }

    .featuredImage {
      display: block;

      .flyntComponent {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    figcaption {
      display: none;
    }
  }
}
