[is='flynt-block-wysiwyg-two-col'] {
  .container {
    column-gap: $spacing-small;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    justify-content: space-between;

    @media (max-width: $breakpoint-mobile-horizontal) {
      display: block;
    }
  }
  
  .content {
    @include reset-content-margins;
    align-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    p:last-child {
      margin: 0;
    }

    &-right {
      @media (max-width: $breakpoint-mobile-horizontal) {
        margin-top: 25px;

        p:first-child {
          &::first-letter {
            margin-left: $spacing-large;
          }
        }
      }
    }

    .pillCircle {
      border: 1px solid $black;
      border-radius: 1rem;
      display: inline-block;
      padding: 5px 10px;
    }
  }
}
